Label {

    -fx-font-size: 16px;
    -fx-font-family: Georgia;
    -fx-text-fill: white;
}

#title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-text-fill: white;
}