.textField{
    -fx-background-color: white;
}

Label {
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-text-fill: white;
}

#backButton, #backButton:hover{
    -fx-font-size: 12px;
}

.error{
    -fx-text-fill: red;
    -fx-font-family: System;
    -fx-font-size: 10px;
    -fx-font-weight: normal;
}