Label {
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-text-fill: white;
}

.sidePanels{
    -fx-fill: linear-gradient(#05003e, #3466AF 10%, #fbff00 50%, #3466AF 90%, #05003e 100%);
}

.error{
    -fx-text-fill: red;
}