
/*
    Styles for the main page button
*/
#pageButton {

    -fx-background-color: #262a52;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-text-fill: white;
}

/*
    Styles for the main page hovered button
*/
#pageButton:hover {

    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-background-color: #262a52;
    -fx-text-fill: Yellow;
}

/*
    Styles for footer
*/
#footer {
    -fx-fill: linear-gradient(to right, #3466AF 45%, #fbff00 100%);
}